[2019-04-02 15:36] Ozzard opened #1 "MzmlReader: Allow reading metadata without the binary arrays"
Much of what I want out of mzml is metadata.  The data arrays are, frankly, noise for this job.  Could I pass an option (or options object) into the reader such that it simply skipped the arrays?

[2019-04-03 19:49] Ozzard opened #2 "Limit the maximum size of the thread pool so that the Reader can run as a responsible citizen in a HTC environment"
At present, the code uses a worker thread pool of an arbitrary size (I recall it defaults to 100 threads).  This may cause it to go beyond its allocation of cores in a HTC environment.

How about adding an option (made available as a command-line parameter) to set the upper limit of the worker thread pool size?  Users running this in a HTC environment can then tune for their particular environment

[2019-04-03 20:05] PaulBrack opened #3 "Extract spectra for base peaks"
From Marina:

"Loop through the mz array of each swath to see which of the peaks previously defined as a basepeak somewhere in the vector are in there and then it adds the intensity and RT to an RTvector and Intensityvector respectively in that basepeak."

[2019-04-08 11:09] #3 closed, assigned to nobody

[2019-04-10 11:31] PaulBrack opened #8 "Increase performance of chromatogram generation"
MS2 chromatogram generation is inefficient due to nested loops - a pattern that is repeated in the following methods:

* ExtractMs2TotalIonChromatogram
* ExtractMs2BasePeakChromatogram

These should be optimised

[2019-04-10 11:33] PaulBrack opened #9 "Re-implement threading"
Threading has been removed from the solution due to two reasons:

* A race condition in which the Run object is returned before the threads that parse the individual spectra complete
* Concurrency issues in accessing the Run object while processing spectra

This should be re-added to the program

[2019-04-10 15:28] #9 closed, assigned to nobody

[2019-04-10 15:28] #8 closed, assigned to nobody

[2019-04-12 15:53] marinaPauw opened #11 "Struggling to only include unique RetentionTimes in the BasePeak SpectrumPoint List"
In the BasePeak class every basepeak has a List of SpectrumPoints. Each of these spectrumpoints has an intensity value and an RT value. These are specctrumpoints at which the basepeak showed up again, whether it was a basepeak or not to form a chromatogram. However to compensate for mass tolerance, we want to sift through everything within the mass tolerance to find the most intense value and coun

[2019-04-15 06:18] marinaPauw opened #12 "zlib decompression needed"
Binary arrays for intensity and mz are sometimes zlib compressed, so decompression is needed.

[2019-04-15 10:21] #11 closed, assigned to nobody

[2019-04-15 22:34] #12 closed, assigned to nobody

[2019-04-26 05:38] marinaPauw opened #19 "RTDivider: Peakwidths.tsv list all the RTsegments as segment number 10"
Just need to change it to iterate over them.

[2019-05-01 14:03] PaulBrack opened #21 "Add options to allow reading of spectrum information without high RAM use"
Currently, spectra are not available for access in the run object as they are memory intensive.

The following options should be added to the MzmlReader and can be chosen from the API:

1) Read but do not maintain spectra in the run object
2) Read and store all spectrum information in RAM (fastest, high RAM, minimum disk I/O, no extra disk space required)
3) Read and maintain Mzml offsets in the s

[2019-05-08 09:52] marinaPauw opened #24 "SwaMe metrics to be added to HUPO-PSI mzQC CV once we are finished."

[2019-05-08 09:58] marinaPauw opened #25 "m/z is not a unit of measurement in UO"
Still have to figure out what to do about this.

[2019-05-08 10:02] marinaPauw opened #26 "metrics by swath and metrics by RT not outputting to JSON yet"
Just quickly need to figure out how to order things so that an output of metrics to the json filemaker function is possible.

[2019-05-14 12:03] marinaPauw opened #28 "Path containing white space not accounted for"
If a folder name/file name in the path has white space, the white space is read as an exit code and the path becomes "D:\Analyst" instead of "D\Analyst data\....". Tried adding extra "" around the path in options and tried adding @ before "path", to no avail.

[2019-05-15 13:40] marinaPauw opened #29 "Not able to deal with an empty binary array."
At the moment, if the binary array of any one scan is empty, an error occurs. It would perhaps be best if we can skip that scan and notify the user that the scan is empty.

[2019-05-15 13:42] #26 closed, assigned to marinaPauw

[2019-06-21 08:20] #29 closed, assigned to nobody

[2019-07-15 12:36] #19 closed, assigned to nobody

[2019-07-15 13:10] marinaPauw opened #32 "SwaMe currently allows the user to input 0 as a number of divisions"
The RT divided into zero segments does not make sense and produces garbage currently. The user should be limited to 1-100 segments.

[2019-07-19 05:58] marinaPauw opened #33 "Comments from mzQC psi-dev on mzQC output"
- You forgot the outer curly brackets around the mzQC element, which
should also be a string.
- Make sure you use the correct capitalization of the JSON keys. For
example, "URI" in analysisSoftware and the CVs -> "uri".
- runQuality/inputFiles/analysisSoftware should be lists.
- The "location" of input files should be a URI; i.e. prefixed by
"file://" for local files. Also, the location and name s

[2019-07-19 06:19] marinaPauw opened #34 "Run.SourceFileName outputs incorrect filename"
Upon running a file with a path: C:\\Users\\pauwmarina\\Desktop\\SWATHdata\\S4_SW1-S4PTA.mzML it outputs:
"S4_SW1.wiff.scan".

So the dash is seen as an escape character.

[2019-08-02 06:00] marinaPauw commented on #25
HUPO-psi dev team said I could use the MS ontology for cases that do not appear in the UO.

[2019-08-02 06:00] #25 closed

[2019-08-02 10:54] marinaPauw commented on #33
All but one comment should hopefully be sorted to a satisfactory standard.
The following comment will be left until all the relevant parties are happy with the metrics: "You should request that the missing terms are added to the CV in an
issue on the repository."

[2019-08-02 10:55] PaulBrack commented on #28
Is this just a Windows but or a Linux bug too?

[2019-08-02 10:57] marinaPauw commented on #28
Only tested on windows, let me try and test on Linux and get back to you.

Kind regards,
Marina Pauw

On Fri, Aug 2, 2019 at 12:55 PM Paul Brack <notifications@github.com> wrote:

[2019-08-08 10:45] #33 closed

[2019-09-16 06:25] marinaPauw commented on #34
I am closing this issue as I realize now the actual files had been renamed and the filename in the mzml corresponds to what this function was outputting.

[2019-09-16 06:25] #34 closed

[2019-09-16 13:32] marinaPauw commented on #28
This issue is specific to the launchsettings.json file by which the program is launched in debug mode. When the program is published and run via commandline this issue no longer exists.

[2019-09-16 13:32] #28 closed

[2019-09-17 06:13] marinaPauw commented on #32
Fixed.

[2019-09-17 06:13] #32 closed

[2019-10-08 08:49] Ozzard opened #43 "Before I port Crawdad to C#, are we *certain* we're taking the right approach?"
Pinging @PaulBrack technically, @marinaPauw for method.

Crawdad looks small enough to convert into C#, which would get us back to a pure .Net application.  I can do this, but I want to check that the approach we're taking is sane.  The code in CrawdadWrapper sets a *chromatogram*, i.e. a time vs. intensity plot, but the problem @PaulBrack described to me is peak-picking in the *mass* domain, i.e.

[2019-10-08 12:13] marinaPauw commented on #43
No, you are correct, Crawdad is called in the class
chromatogramMetricGenerator and is used for finding peaks in the RT vs
intensity plots, it does not do peak-picking in the m/z axis.

Kind regards,
Marina Pauw

On Tue, Oct 8, 2019 at 10:49 AM Peter Crowther <notifications@github.com>
wrote:

[2019-10-10 04:47] marinaPauw opened #45 "Sciex Converter deletes the binary array if scan is missing, which causes SwaMe to crash"
We have dealt with missing scans from msconvert, but Sciex converter deals with them in a different manner, by leaving out the <binary><\binary> attribute completely.

[2019-10-10 13:46] marinaPauw opened #47 "Sometimes the software informs you twice that it is done parsing the file."
For example:
2019-10-10 15:42:40.8312|INFO|Yamato.Console.Program|Parsed file in 428 seconds
2019-10-10 15:42:40.8312|INFO|Yamato.Console.Program|Done!
2019-10-10 15:42:42.7672|INFO|Yamato.Console.Program|Parsed file in 430 seconds
2019-10-10 15:42:42.7672|INFO|Yamato.Console.Program|Done!

[2019-10-17 11:59] #43 closed

[2019-10-17 15:26] marinaPauw commented on #47
Solved in commit 25a587e as part of PR #50. Was just a piece of code in Program.cs that got copied probably as a gitHub glitch.

[2019-10-17 15:26] #47 closed

[2019-12-04 11:20] mwalzer opened #79 "Unhandled Exception if a "File not found" is not caught, dumps core"
[code]
You'll quickly spot the 'intentional' error in the exec: it is `-in` instead of `-i` so it looks for the file n. Anyway, opening the inexistant file is attempted, not found, unhandled exception, core dump.

[2019-12-04 11:27] mwalzer opened #80 "Yamato fails for big files. Are files loaded in-full to memory?"
The naive attempt of feeding a big file (22G) results in wild memory swapping and (probably) indefinite execution times. In a memory controlled environment, the execution gets killed for overstepping (generous) memory boundaries.
[code]

[2019-12-04 11:28] mwalzer opened #81 "Unhandled Exception: System.ArgumentNullException: Value cannot be null."
No idea what could be causing this.
[code]

[2019-12-04 11:29] mwalzer commented on #81
As requested, here the spectrum grep for various files tested
[code]

[2019-12-04 11:29] mwalzer opened #82 "A file called "c:\temp\nlog-internal.log" is always created"
with the standalone dotnet version, tested on linux. Might be a hint at hardcoded parameters?
I'd suggest something like`public static string GetTempFileName ();` or `public static string GetTempPath ();`

[2019-12-04 11:43] mwalzer commented on #81
The new standalone build yields a different error:
[code]

[2019-12-04 11:48] PaulBrack commented on #80
This is expected behaviour at present - a whole run is stored in memory so the memory footprint is large. There are a few potentia solutions to this - see issue #21

[2019-12-04 11:50] PaulBrack commented on #81
The reader isn't checking for empty spectra - will implement a check

[2019-12-04 11:54] mwalzer commented on #80
How did you test Yamato for real-world scenarios? I think this is a blocker if we can't go for beyond SWATH files beyond 5GB on a reasonable machine.

[2019-12-04 11:59] PaulBrack commented on #79
This is expected behaviour - we catch the error, log it, then re-throw the error after catching to preserve the stack trace.

There are a million and one ways to handle errors but we decided to let the program fail noisily and drop me out of the executing process than catch errors rather than have to navigate a code path out of the process. Example below:

        private static void CheckFileIsRe

[2019-12-04 12:03] PaulBrack commented on #82
This is hardcoded in nlog's config - applied fix on commit efaaad894be0422c24dcd25cac19a565fa3c515d

[2019-12-04 12:06] PaulBrack commented on #82
Happy to let the internal log file fall into the executable folder so closing

[2019-12-04 12:22] Ozzard commented on #82
Can I suggest using ${tempdir}/nlog-internal.log, per https://github.com/NLog/NLog/wiki/Internal-Logging ?  File creation in an application's directory has been a MUST NOT since Windows 2000, as applications installed in Program Files will not have write access to their installation directories.

[2019-12-04 12:24] Ozzard commented on #80
What do you call a "reasonable" machine?  Our HPC cluster machines are 16-core, 256G or 512G memory.  For any "real" HPC, this *is* a reasonable machine.

[2019-12-04 12:30] Ozzard commented on #79
I'm with Mathias on this one: the Console application should not dump core.  It should do the most verbose logging possible of the exception and exit - essentially with:
main()
{
  try
  {
    rest of program
  }
  catch (Exception ex)
  {
    log(ex);
    return 1;
  }
  return 0;
}

On a good day, one then puts #if !DEBUG...#endif markers around the tries and catches so that the exceptions still

[2019-12-04 12:34] PaulBrack commented on #82
Didn't think about this going into Program Files as we're building it as standalone,, happy to put somewhere else

[2019-12-04 13:41] PaulBrack commented on #80
@marinaPauw 's test file have ~20,000 scans in, and is running Yamato OK for them on a low RAM box. A 22GB profile MZML will have ~250,000 scans in and this is where our problems arise on a box with <32GB RAM.

There are a few ways of handling this - presently, "run on a box with enough RAM for your files" is the suggested workaround. The below are probably capable of significantly reducing the RA

[2019-12-04 14:31] mwalzer commented on #80
So I tried and failed with the same config that runs the OpenSWATH analysis in our workflow. This is what I would call reasonable, that is 16-32GB mem. So if you need an HPC cluster to do QC then our use-case seems more removed than initially discussed.

[2019-12-04 14:54] Ozzard commented on #80
OpenSWATH works by burning a whole load of disk i/o early in its run to
split the input file into n intermediate files (1/window), then processing
each one independently, then merging the results. That disk phase reduces
RAM usage at the expense of disk usage and a heavy i/o load. We could look
at spilling spectra to, for example, a memory mapped disk file using a
heavily custom Spectrum class - w

[2019-12-04 15:24] PaulBrack opened #83 "Source file info on run only supports a single file"
There are 2 source files specified so the .wiff info is set then overwritten by the .scan

[2019-12-04 15:30] marinaPauw commented on #80
In our lab space is definitely an issue, but then again of all the files I
have received from collaborators or downloaded from repositories, none have
been larger than 6GB and all have between 15000-60000 scans for which the
current way of running is not a problem. Perhaps a choice between the two
via arguments?

Kind regards,
Marina Kriek (née Pauw)

On Wed, Dec 4, 2019 at 4:54 PM Peter Crowther

[2019-12-05 12:06] PaulBrack commented on #82
As we're moving the log file outside Yamato, I've changed this to ${tempdir}/Yamato_nlog-internal.log so people know where it's coming from

[2019-12-05 15:07] #82 closed

[2019-12-05 15:44] Ozzard commented on #80
Looking at the current algorithm, there are a couple of points to note:
* Spectrum objects (the single largest data soak) are not used after a scan has been put through FindBasePeaks.  That method could blank scan.Spectrum as it generates bp.Spectrum, which would slightly reduce the footprint.
* Do we have to have one phase to set up BasePeak objects and then a second to add their SpectrumPoints,

[2019-12-06 05:47] marinaPauw commented on #80
Blanking the spectrum seems like a good idea.

The reason behind the two-phase BasePeak objects is that with the forward
parser we do not know ahead of time which basepeaks will be present.
Therefore we cannot collect spectra for them before we pick them up as
basepeaks and if we collect spectrum only after we have picked it up as a
basepeak our chromatogram metrics will not reflect the true shape

[2019-12-09 11:56] PaulBrack commented on #80
@mwalzer I've written a low RAM solution for this problem by caching to disk - it's slower and more IO intensive but I think it's a reasonable solution for low RAM environments.

I'll be including this as a switch on input and merging today or tomorrow.

[2019-12-17 15:00] PaulBrack commented on #83
Fixed by Marina

https://github.com/PaulBrack/Yamato/pull/87

[2019-12-17 15:00] #83 closed

[2019-12-17 15:06] PaulBrack commented on #80
@mwalzer please test with --cacheSpectraToDisk true

Each spectra is serialised using a protocol buffer and stored to disk in its own file in the temp folder as it's read. If these spectra are needed later, they're deserialised for just as long as they're needed.

In addition, the thread queue is set at a max size of 2000, which limits RAM use to around 1GB when I've tested.

[2019-12-17 15:12] PaulBrack commented on #21
Implemented 1, 2, and 4

[2020-01-21 14:27] Ozzard opened #99 "Allow reading of a mzML from stdin, for example using a filename of -"
When doing rapid QC from a Sciex instrument, we don't want to save an intermediate mzML; we just want to convert on the fly, and pipe the output from a WIFF to mzML converter into the input of Yamato without incurring any disk or RAM overhead.  This is a classic use of a UNIX or Windows pipe.

In common with other UNIX utilities, if we specify - as the input filename, could the Yamato console take

[2020-01-21 14:30] Ozzard opened #100 "Allow writing of a mzQC to stdout"
When doing rapid QC from a Sciex instrument, we don't want to save an output mzQC file; we just want to pipe the result into the program we use to save the data without incurring any disk overhead.  This is a classic use of a UNIX or Windows pipe.

In common with other UNIX utilities, if we specify - as the output filename, could the Yamato console send its mzQC to standard output?

To acquire out

[2020-01-24 15:25] mwalzer commented on #79
bump on  `v1.0.0-b`

[2020-01-24 15:26] mwalzer commented on #81
back to initial situation in `v1.0.0-b`

[2020-01-24 15:28] mwalzer opened #109 "Not working on any non-bash shell"
[code]

[2020-01-24 15:30] mwalzer commented on #109
tested alpine's `ash` so far only

[2020-01-24 15:32] mwalzer opened #110 "Unexpected dependency"
Using a call like `Yamato.Console -i collinsb_I180316_005_SW-A.mzML` I get this error and the core dumped:
[code]

[2020-01-24 15:34] mwalzer commented on #110
After installing libssl1.1 the error is just like #81

[2020-01-24 15:34] mwalzer commented on #110
using `v1.0.0-b`

[2020-01-24 15:42] mwalzer opened #111 "Couldn't find a valid ICU (Linux vs. dotnet)"
You can expect an error like this if you have a run-off-the-mill linux system without the dependencies resolved for dotnet
[code]

[2020-01-24 15:44] mwalzer commented on #111
This is to be expected. For future reference here are some common requirements:
* set %environment DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1
* install libunwind
* install icu-libs

[2020-01-24 15:44] #111 closed

[2020-01-24 15:51] PaulBrack commented on #79
Implemented fix as per Peter's suggestion

[2020-01-24 15:51] #79 closed

[2020-01-24 15:52] PaulBrack commented on #80
Closing as per #21

[2020-01-24 15:52] #80 closed

[2020-01-24 15:52] PaulBrack commented on #21
No current plan to implement 3 as 4 works well

[2020-01-24 15:52] #21 closed

[2020-01-24 15:57] PaulBrack commented on #81
Fixed

https://github.com/PaulBrack/Yamato/commit/e8d88741f215a7f38c13fe3bbf74bfc674555aa5

[2020-01-24 15:57] #81 closed

[2020-01-24 16:05] PaulBrack commented on #110
Looks like we need OpenSSL install on Linux - not sure why you need it? Looks like we can use v1.0 or v1.1 though:

https://stackoverflow.com/questions/53139591/

With OpenSSL installed and #81 fixed, are we okay to close this @mwalzer ?

[2020-01-24 16:07] PaulBrack commented on #45
Marina, I think this is a duplicate of #81, can you confirm if fixed?

[2020-01-24 16:10] PaulBrack commented on #109
This seems like an environment issue - not sure I know how to resolve this

[2020-01-24 16:29] mwalzer commented on #110
I was just wondering, as this error was new from the previous build from dropbox to the one that is in `v1.0.0-b`

[2020-01-27 09:39] mwalzer commented on #109
@Ozzard any experience with non-bash .dotnet? Would be a shame if the standalone would be limited* to some distros only. Worse if root cause is in the env, because that would mean that in other bash based OS it could not work as well. I can't help more as I know too little about the build process of yamato.
(*: limited as in not without serious efforts to install )

[2020-01-27 09:54] Ozzard commented on #109
@mwalzer Could you send me your Dockerfile (or point to it on here if it's committed) and I'll take a look? Could you also send me the command line that you're giving to ash? Alpine is a supported platform for .Net Core 2.1+ (Yamato is on 2.2) and there are base containers with the .Net Core prereqs installed available from Microsoft, so I suspect all of our experimentation so far hasn't quite wor

[2020-01-27 11:29] marinaPauw commented on #45
Fixed

[2020-01-27 11:29] #45 closed

[2020-02-03 17:17] mwalzer commented on #109
Sure @Ozzard here you go:
[yamato.Dockerfile.txt](https://github.com/PaulBrack/Yamato/files/4149094/yamato.Dockerfile.txt)
[yamato.sdef.txt](https://github.com/PaulBrack/Yamato/files/4149095/yamato.sdef.txt)
[yamato_alpine.Dockerfile.txt](https://github.com/PaulBrack/Yamato/files/4149096/yamato_alpine.Dockerfile.txt)
[yamato_alpine.sdef.txt](https://github.com/PaulBrack/Yamato/files/4149097/yamato

[2020-02-04 15:06] Ozzard commented on #109
I believe this is addressed by #119. This uses Microsoft's dependency base image (based on Debian) and builds it up.  Note that the Alpine image could not work with the standard Linux build - see https://github.com/dotnet/core/issues/1689 for the gory details.  We should work on getting a non-standard standalone build made for Alpine, as it's a much smaller image.

Built versions of v1.0.0-b avail

[2020-02-04 15:06] #109 closed

[2020-02-04 15:54] Ozzard opened #120 "Create Alpine Linux standalone release of Yamato"
Following on from #109, we should create an Alpine Linux standalone release of Yamato so that we can containerise into a smaller container.

[2020-02-04 15:57] Ozzard commented on #110
@mwalzer, could you check this with the latest container release please?  If that works, I'm going to close this with a reference to .Net Core prerequisites.  If it doesn't, I've got some more fixing to do...

[2020-02-05 09:54] mwalzer commented on #110
[code]

[2020-02-05 10:06] mwalzer commented on #109
the container seems to have a blank entry point (Yamato.Console w/o parameters). I had to override it with `--entrypoint=/bin/bash` otherwise I wouldn't know how to convey my input parameter values

[2020-03-02 10:23] mwalzer opened #127 "RC1 - Can't load file"
Congrats on the new RC!
Did some container building and tests.
With [RC1](https://github.com/PaulBrack/Yamato/tree/v1.1.0-RC1) it seems I cannot load a file to process. Here is the output
[code]
You'll notice, It tries to access a folder not given as parameter. After that, the folder(s) exists.
[code]

[2020-03-02 10:27] mwalzer opened #128 "Option 'z, cacheSpectraToDisk' does not evaluate as positive if present but not set to true"
From `--help`, option z looks like a flag but using it like one yields
[code]
Am I supposed to set it to `true`? Seems that is working in so far as I get to the ouput described in #127

[2020-03-02 10:34] mwalzer opened #129 "RC1 - Option 'z, cacheSpectraToDisk' has no value"
From `--help`, option z looks like a flag but using it like one yields
[code]
Am I supposed to set it to `true`? Seems that is working in so far as I get to the ouput described in #127

[2020-03-02 10:35] #129 closed

[2020-03-02 10:36] mwalzer commented on #129
oops, that somehow got submitted twice - closing this one

[2020-03-02 10:49] mwalzer commented on #127
hotfix copy the file to QC_results doesn't work either because the subfolder seems to be a timestamp folder generated at exec time.

[2020-03-02 10:56] marinaPauw commented on #127
Hi Mathias!

Paul will possibly give a better answer when his union returns from strike
in two weeks' time, but I believe the problem to be that unlike the
proteowizard tools for example, the "-i" argument requires the full
inputfile path and does not take the working directory into account.

The QC_Results directory error is only third on the list and may have
occurred because the analysis was ne

[2020-03-02 11:00] marinaPauw commented on #128
Hello! Yes, the idea is to specify a bool after so: -z true or -z false.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Mon, Mar 2, 2020 at 12:27 PM Mathias

[2020-03-02 13:24] mwalzer commented on #127
Thanks, indeed, now it's
[code]
or with a different file
[code]
are there other parameters assumed to be set that I haven't? (just -i)

[2020-03-02 13:52] marinaPauw commented on #127
Your parameters were correct, only inputfile (-i) is required. The two
errors above appear unrelated. I'll do some sleuthing and get back to you.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4F

[2020-03-02 14:14] mwalzer commented on #127
Thanks! I've seen from the console output that there is some iRT peptide peak detection going on.
As a feature-request of sorts, it might be a very cool thing to have a metric that measures the confidence that some well-known(?) iRT peptides and/or kits were used. Is that possible, or even done yet?  (Haven't produced an output file yet, to check.)

[2020-03-02 14:44] marinaPauw commented on #127
Regarding the second file mentioned above: I believe this may be an
incorrect assumption of ours that a wiff file will always have an "id"
component in the mzML. If I'm right it will be easily fixed, but I will
open a separate issue for that one.

Thanks

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https:/

[2020-03-02 14:47] marinaPauw opened #130 "Should be able to deal with mzML files that were created from wiffs that do not have an "id" feature."

[2020-03-02 20:15] PaulBrack commented on #128
@mwalzer agreed that the behaviour of this variable requiring an argument is confusing - this should default to false and evaluate to true on presence

[2020-03-02 20:18] PaulBrack commented on #128
@mwalzer amended in 81f2a908936a1f346ef5a6e2d93b9f24198875b6

[2020-03-02 20:18] #128 closed

[2020-03-03 13:11] PaulBrack commented on #110
Resolved, this is now a duplicate of 81 (closed): https://github.com/PaulBrack/Yamato/issues/81

[2020-03-03 13:11] #110 closed

[2020-03-03 17:21] marinaPauw commented on #127
Hi Matthias!

Could you maybe try running the second file again with the updated master
branch?

On Mon, Mar 2, 2020 at 4:44 PM Marina Pauw <pauwmarina@gmail.com> wrote:

[2020-03-26 16:45] Ozzard opened #134 "When testing file readability for input files, open read-only not read-write"
Opening a file with FileMode.Open will, by default, open it read/write.  Stoller lab files on the cluster are kept read-only.  At present, this tool cannot work within Stoller.

In general, it is polite and prudent to request minimal permissions when opening any file.  For example, when opening an output file, do not assume that you can read it as well as writing it.

[2020-03-26 17:10] Ozzard opened #135 "Respect the current directory at program run time for file paths"
At present, running:
`SwaMe.Console -i ./aFile.wiff`
fails with a file not found exception even if the file exists in the current directory.  The backtrace indicates that the code is trying to find the file in a run-specific subdirectory; it would appear that the code changes directory before opening the input file, therefore requiring an absolute path (or a relative path from the subdirectory).

[2020-03-26 17:58] Ozzard opened #137 "When publishing standalone Linux binaries, publish the "publish" directory not the base directory"
At present, the packaging of the standalone Linux distribution puts the standalone in a "publish" subdirectory, which is confusing as the parent contains similar binaries that are not runnable standalone.

Ideally, we would only publish the standalone rather than its parent directory, and we would modify the container creation scripts to handle this change.

Happy to tackle this if I can get permi

[2020-03-30 12:21] Ozzard opened #138 "Ensure all metrics available from Yamato/SwaMe/Prognosticator are available in a single mzQC output file"
At present, the console application always creates several files: one mzQC, and then other TSVs containing other metrics.  This is difficult to consume in any database-based QC pipeline, for example the one at the Stoller.  All of these metrics should be available in a single byte stream; given that mzQC is allegedly designed for this purpose, all of these metrics should be available in a mzQC byt

[2020-03-30 12:29] Ozzard opened #139 "Allow the user to specify an output file path and name for at least the mzQC file, and ideally all files"
At present, the program appears to site its output relative to the full path of its input.  This gives rise to multiple problems:
* The program tries to detect its current directory and change directories if that isn't the expected directory.  The detection fails badly on UNIX derivatives, where symbolic links are common, hard links are possible, and the program's canonical working directory is ve

[2020-03-30 12:35] Ozzard opened #140 "When showing help, show current defaults for all options *or* do not default"
The defaults for the console program have changed over time, as has been convenient for the authors.  This has led to complexities for other users, as they might suddenly have to specify a value for an option that they were previously assured would "just work" for their use case.

Ideally, force a user to specify any option that might change the validity of the output.  Provide hints for good valu

[2020-03-30 12:38] Ozzard opened #141 "Send all logging output to stderr, not stdout"
Standard output is the place for program output (see also #100).  Debugging and logging information should go to standard error.

This is far from the only bioinformatics program that violates this rule, but let's get at least one right!

[2020-03-30 12:57] Ozzard opened #142 "Provide a "production mode" that gives no logging or debug output on successful execution, but good error detail on failure"
Some workflow engines detect "unusual" or failed runs by looking for a non-empty stderr stream (see also #141).  I've spent ages before now trying to selectively filter out log output from a chatty bioinformatics program such that output is empty on success and still sufficiently descriptive on failure to allow the user to debug the issue.  It's very, very hard to do well, particularly when the ou

[2020-03-30 23:08] Ozzard opened #144 "At present, this QC tool cannot provide faster QC indication for SCIEX 6600 files than can Skyline with a simple R or Ruby script"
Due to this tool only ingesting the very verbose mzML format, real runtimes for QC are currently around 30 minutes on Linux.  This appears to be due to a comms bottleneck between the WIFF converter and this tool.

Skyline will ingest the same file in around 5 minutes, using somewhat lower CPU and very much less memory, because it has a WIFF reader built in.  One can then run reports on the generat

[2020-03-31 11:02] PaulBrack commented on #144
1) A number of key SwaMe metrics cannot be generated using Skyline. Of key importance, the lack of MS2 TIC metrics from Skyline are a deal-breaker.
2) Based on some more detailed use case discussion with Richard and Ivona, our use case at Stoller means that QC assessment within a few hours is good enough for now - both are happy with this to be within a few hours of the last run and don't see near

[2020-03-31 11:04] PaulBrack commented on #138
@marinaPauw can you confirm that all of your metrics are already available in the mzQC?

[2020-03-31 11:06] PaulBrack commented on #139
@Ozzard - I've discussed this with @marinaPauw and we're happy to strip out all the c/tsv output and provide a command line argument to specify the output file location, will this suit?

[2020-03-31 11:23] Ozzard commented on #139
Ideal.

[2020-03-31 18:45] PaulBrack commented on #139
@Ozzard this is ready to test, can you give it a spin please?

[2020-03-31 18:46] PaulBrack commented on #137
@Ozzard can you confirm this works as expected?

[2020-03-31 18:47] PaulBrack commented on #135
@Ozzard can you test please?

[2020-03-31 18:49] #134 closed

[2020-04-01 09:07] Ozzard opened #145 "What copyright should SwaMe.Console show?"
At present it shows (c) 2020 SwaMe.Console, which is clearly incorrect.

[2020-04-01 09:25] Ozzard commented on #137
This is as expected; interestingly, everything's in a single executable.  Worth keeping the zip file in case we want to add docs and data files, I think.

[2020-04-01 09:25] #137 closed

[2020-04-01 09:39] Ozzard commented on #100
Revised link now that SwaMe.Console is in .Net Core 3.1: https://docs.microsoft.com/en-us/dotnet/api/system.console.openstandardoutput?view=netcore-3.1

The content is unchanged.

[2020-04-01 10:04] Ozzard commented on #139
Working.

[2020-04-01 10:04] #139 closed

[2020-04-01 10:04] Ozzard commented on #135
Appears to be working - many thanks!

[2020-04-01 10:04] #135 closed

[2020-04-01 11:25] PaulBrack commented on #137
@Ozzard the single file was an active decision - see build switch -p:PublishSingleFile=true

Zip file is a neccessity - it's how the publish tool works

[2020-04-01 11:27] PaulBrack commented on #138
Closing as all other file outputs removed

[2020-04-01 11:27] #138 closed

[2020-04-01 16:30] Ozzard opened #147 "The all-in-one SwaMe.Console on Linux does not respect a NLog.console in the same directory"
To configure production logging, I wanted to change the NLog options via NLog.Config.  The all-in-one executable appears not to read a NLog.config placed in the same directory.

[2020-04-01 17:43] Ozzard opened #148 "Either put a hint in the docs for the cache-to-disk option that it caches in the temp directory, or allow the user to specify the path"
I've learned from Paul that the cache goes to the temp directory.  It'd be good to document that in something the user sees in --help - either by documenting it, or by giving them an explicit option to set a path.

[2020-04-01 17:47] Ozzard opened #149 "When caching to disk, two jobs running on the same node should not use the same namespace for temporary files"
At present, all jobs that cache to disk use files in the temp directory numbered by scan ID.  Two jobs running on the same node are highly likely to overwrite each others' files, leading to erroneous (but almost certainly sensible-looking) results.

[2020-04-01 19:00] PaulBrack commented on #148
Fixed.

@Ozzard please close if you're happy

https://github.com/PaulBrack/Yamato/commit/434e35919fc57f1882b86efbde9fb19e45d1d5b4

[2020-04-01 19:04] PaulBrack commented on #147
@Ozzard can I ask you to pick up this one please?

[2020-04-01 19:17] PaulBrack commented on #149
Fixed in https://github.com/PaulBrack/Yamato/commit/d5489a3979cc44b994c824aa2aa6fdb750188615

Please close if happy

[2020-04-01 19:37] snakefoot commented on #147
When using Single File Publish, then NLog will fail to load the NLog.config placed next to the single-executable. NLog will always prioritize the NLog.config in the BaseDirectory, and BaseDirectory is special for single-file-publish (This will be changed with NLog 5.0, but that is far out in the future)

There are two work-arounds:

1. Instead of using NLog.config, then use SingleApp.exe.nlog. NLo

[2020-04-03 11:52] Ozzard commented on #147
@snakefoot For whatever reason, I couldn't get this behaviour to work on Linux.  CentOS 7, the Linux SwaMe single executable from the single-exe build on the production-logging branch (updated to NLog 4.7.0 in all projects that use it), unzip, chmod +x SwaMe.Console, and add a valid SwaMe.Console.nlog file in the same directory.  Can you see anything obviously wrong with that series of steps?

[2020-04-03 12:00] Ozzard commented on #141
Fixed for production use in #150.  Keeping this issue open in case @PaulBrack wants to fix it in normal use as well; this would require removing the colouring on the log messages, as the colouring logger doesn't have the ability to output to stderr.

[2020-04-03 12:01] Ozzard commented on #142
Fixed in the combination of #146 and #150.

[2020-04-03 12:01] #142 closed

[2020-04-03 12:22] Ozzard opened #151 "Application exit status should be 1 on failures, 0 on success"
At present, it's possible for the application to exit with a 0 code if there's an error in a CSV file.

[2020-04-03 13:01] snakefoot commented on #147
Like I wrote before. The first suggested trick requires that don't have any files called NLog.config. The config file must be named SingleApp.exe.nlog (the one packaged into and the one placed next to override). To repeat no files named NLog.config files at all. And you must use NLog 4.6.8 or newer.

Again this will change with NLog 5, but it is a breaking change. And single file publish with the

[2020-04-03 14:02] #151 closed

[2020-04-03 14:13] Ozzard commented on #148
Looks good - closing.

[2020-04-03 14:13] #148 closed

[2020-04-03 14:14] Ozzard commented on #149
I suggest deleting the directory on normal exit?

[2020-04-03 14:26] PaulBrack commented on #149
Delete dir in https://github.com/PaulBrack/Yamato/commit/c33c7eaa674c1b3d9dcb4a7f9ff19bf14a7b58a5

Closing issue

[2020-04-03 14:26] #149 closed

[2020-04-04 16:53] Ozzard commented on #2
This was fixed quite some time ago with the --maxThreads option.  Closing.

[2020-04-04 16:53] #2 closed

[2020-04-05 16:26] marinaPauw opened #153 "SwaMe.Desktop expects IRT to be run and unhandled exception occurs as it looks for the launchsettings.json file"

[2020-04-05 16:41] marinaPauw opened #154 "SwaMe.Desktop - defaults on GUI do not correspond to defaults on console"
This is a problem for example with someone who starts out with SwaMe and then selects the GUI's default of 50 as the default number of RT divisions, they will end up with a heck of a lot of data for the RT metrics that might be intimidating and unnecessary if you are simply searching for outliers.

[2020-04-05 16:43] Ozzard commented on #99
Awaiting release of a commandline NuGet including https://github.com/commandlineparser/commandline/issues/601 as - is not processed according to getopts' rules at present.

[2020-04-05 16:43] Ozzard commented on #100
Awaiting release of a commandline NuGet including https://github.com/commandlineparser/commandline/issues/601 as - is not processed according to getopts' rules at present.

[2020-04-09 08:49] Ozzard commented on #144
Down to 10 minutes by various means, including by using an old Mono version on the WIFF converter.  Closing - thanks!

[2020-04-09 08:49] #144 closed

[2020-04-09 08:51] Ozzard commented on #147
For various reasons including this one, we've moved away from a single executable for the command-line version.  Closing as WONTFIX.

[2020-04-09 08:51] #147 closed

[2020-04-09 10:18] Ozzard opened #155 "Update Dockerfiles for new .Net Core version and new file location"

[2020-04-09 22:18] Ozzard commented on #1
Code's now been implemented to do this, though there's a refactor (#78) that needs redoing before it's especially useful to users.  Closing.

[2020-04-09 22:18] #1 closed

[2020-05-18 16:31] Ozzard commented on #141
Closing.

[2020-05-18 16:31] #141 closed

[2020-05-18 19:56] #99 closed

[2020-05-26 16:56] mwalzer opened #163 "Trouble generating report file"
I finally got the chance to try out the release (v1) on some PRIDE dataset files. What I did is basically this:
[code]
Which resulted in:
[code]
Where I figured I might need to employ the `-z` flag which helped along, but
[code]
Made me guess I need to deactivate the threads with `-t false` and for the 'standard' files (i.e. the navarro data) this would have been it. But for that particular data I

[2020-05-26 16:58] mwalzer commented on #163
@PaulBrack The issue title is not very specific, I know, please rename as you see fit

[2020-05-26 17:20] Ozzard commented on #163
Thanks, @mwalzer.  I can help with at least one of the mysteries there: `-out` is not a valid parameter, but `-o` is.  So the command-line parser (we use a standard one that supposedly emulates GNU getopt, though I'm a little unconvinced) interpreted that as `-o ut` and created the output file `ut` as a result.

[2020-06-03 15:04] PaulBrack commented on #163
Hi Mathias - can you let me know where you're at with this one? Did Peter's suggestion resolve your issue?

[2020-06-03 15:05] marinaPauw opened #164 "Repeatability issues for SwaMe.PeakWidths"
Every now and then this value differs slightly. Sometimes as little as the 12th decimal, sometimes as large as 0.8 in the file that I'm testing. Working backwards from the end, the discrepancy first appears in the crawPeak.FWHM value - my current main current suspect is the ChromatogramMetricGenerator.Interpolate() function directly before it.

[2020-06-03 15:11] PaulBrack commented on #145
Any suggestions on this one Peter? Bit in the dark on who exactly (if anyone) is the copyright owner - especially as this is Apache licensed

[2020-06-03 16:01] mwalzer commented on #163
Thanks for coming back on that, Paul.

Unfortunately, not completely, no.
Though @Ozzard was quick to spot my -o/-out mistake and I now have properly named output, thanks for that.
There is still
[code]
And I don't know if my data is semi-faulty. Semi, because FileInfo and other tools don't complain, but  that doesn't have to mean much.

[2020-06-03 16:26] PaulBrack commented on #163
Hi Mathias, can you provide more replication info - the stack trace, full command line and input file please

[2020-06-03 16:59] mwalzer commented on #163
Sure, but as I said, it is quite likely that there is nothing wrong with swame, but it is because the input data is insufficient. Yet, it would be awesome if swame could check if the data it gets is 'analysis-ready' or what is missing.

So the file (150307_P17458_Group4_IDA_1.mzML) came out of PXD005661 converteed with the sciex converter as we know it. And this was the complete commandline intera

[2020-07-30 10:53] mwalzer commented on #163
mzQC getting written now, closing

[2020-07-30 10:53] #163 closed

[2020-08-24 08:36] mwalzer commented on #127
tested, resolved, all well with maintenance release v1.0.4

[2020-08-24 08:36] #127 closed

[2021-02-25 10:29] Ozzard opened #167 "Interquartile range is usually underestimated by InterQuartileRangeCalculator"
Q3 is calculated as list[length / 4 * 3], and it should be list[length * 3 / 4].  This relates to order of calculation and truncation to integer.

Consider a list of length 7.
length * 3 / 4 is (7 * 3) / 4 = 21 / 4 = 5.
length / 4 * 3 is (7 / 4) * 3 = 1 * 3 = 3, which is the index of the median in this case, not the upper quartile.

We should check for similar integer-divide-then-multiply uses els

[2021-02-28 09:30] marinaPauw commented on #167
Wow thanks for picking this up!

[2021-03-01 12:17] Ozzard opened #168 "Chromatogram metric generator inserts in reverse order except at the first element if retention times collide"
https://github.com/PaulBrack/Yamato/blob/6f230ec6d5f0c3c2d048a04ec88a40f12df08576/SwaMe/ChromatogramMetricGenerator.cs#L137

This puts the values in the wrong order, as the interpolation is for a LATER time but inserts EARLIER than the current element.  On a collision (only), it should insert at offset+1.

[2021-03-02 12:57] Ozzard opened #169 "If some swaths have sizes and others do not, should the SwathSizeDifference metric be zero, non-zero, or not output?"
At present, SwathSizeDifferenceZeroIfOffsetsAreDefault uses a test set with one scan that doesn't have a width, and checks that the result is zero.

Firstly, is this a realistic test?  Will we ever get a file where some scans have widths and others don't?

Secondly, is zero the correct output in this case, rather than missing the metric out completely or listing it but setting it to a blank value?

[2021-03-02 17:25] Ozzard commented on #167
Fixed.

[2021-03-02 17:25] #167 closed, assigned to Ozzard